.sc-webToon{
    padding: 15px;
    background: #fff;
    .img-box{
        width: 89px;
        height: 128px;
        margin-right: 10px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .webToon-wrap{
        display: flex;
    }
    .txt-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    
        flex: 1;
        .view-info{
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #9c9c9c;
            font-weight: 600;
        }
    }
    .board-title{
        font-size: 14px;
        font-weight: bold;
        color: #151515;
    }
    .view-writer{
        display: block;
    }
    .view-txt{
        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 11px;
            margin: 0 5px;
            background: #9c9c9c;
        }
    }
    .review-box {
        display: flex;
        justify-content: space-between;
    }
    .star{
        display: inline-block;
        background: url(../images/icon/ico-star-on.svg) no-repeat;
        width: 9px;height: 9px;
        background-size: 100%;
    }
    .star-num{
        font-weight: bold;
        font-size: 12px;
        color: #ff9500;
        margin-left: 3px;
    }
    .review-box{
        .introduce{
            display: inline-block;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #d2d2d2;
            width: 60px;
            height: 25px;
            line-height: 25px;
            font-size: 11px;
            color: #888;
        }
    }
    .same-wrap{
        margin-top: 16px;
    
        width: 100%;
        height: 43px;
        padding: 10px 15px;
        border-radius: 4px;
        background-color: #f3f3f3;
    
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        span{
            &:last-child{
                color: #9999;
                margin-left: 6px;
                cursor: pointer;
                &::after{
                    content: '';
                    display: inline-block;
                    width: 22px;height: 22px;
                    background: url(../images/icon/ic-same-novel.svg) no-repeat;
                    background-size: 100%;
                
                    vertical-align: middle;
                    margin-left: 6px;
                }
            }
        }
    }
    /* same-pop */
    .same-pop{
        position: absolute;
        width: 372px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        background: #fff;
        z-index: 99;
        display: none;
        &.active{
            display: block;
        }
        .same-box{
            font-size: 14px;
            display: flex;
            padding: 14px 15px 13px;
            border-bottom: 1px solid rgb(241, 241, 241);
            align-items: center;
            justify-content: space-between;
            /* display: none; */
            &::after{
                content: '';
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url(../images/icon/icon_layerClose.png) no-repeat;
                background-size: 100%;
            
            }
        }
        .img-box{
            width: 48px;
            height: 65px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    .same-item{
        padding: 7px 15px;
        display: flex;
        align-items: center;
        &.active{
            background-color: rgb(244, 244, 244);
            
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
    .img-box-title{
        font-size: 13px;
        font-weight: 600;
    
    }
}

.pan{
    position: fixed;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    width: 100%;
    height: 100vh;

    display: none;
}

/* sc-viewer */
.sc-viewer{
    background: #fff;
    padding: 0 15px;
    margin-top: 11px;
    font-size: 14px;
    color: #151515;
    .viewer-item{
        font-size: 14px;
        padding: 10px 0;
        &.first{
            font-size: 14px;
            padding: 10px 0;
        
            border-top: 1px solid #f3f3f3;
        }
        .bold{
            font-weight: bold;
        }
        .viewer-comment{
            display: inline-block;
            font-size: 12px;
            color: #999;
            margin-left: auto;
            &::after{
                content: '';
                display: inline-block;
                background: url(../images/icon/ic-more-gray.svg) no-repeat;
                background-size: 100%;
                margin-left: 5px;
                width: 6px;
                height: 12px;
                vertical-align: middle;
            }
        }
        &:first-child{
            display: flex;
            align-items: center;
        }
        &:nth-child(1)::before{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
        
            background: url(../images/icon/ic-workhome_comment.svg) no-repeat;
            background-size: 100%;
        }
        &:nth-child(2)::before{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: middle;
        
            background: url(../images/icon/ic-workhome-free.svg) no-repeat;
            background-size: 100%;
        }
        :nth-child(3)::before{
            content: '';
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: middle;
        
            background: url(../images/icon/ic-workhome-wait.svg) no-repeat;
            background-size: 100%;
        }
    }
    li{
        &+li{
            border-bottom: 1px solid #f3f3f3;
            font-weight: bold;
        }
    }
}
.btn-watch{
    border-radius: 3px;
    margin-bottom: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    color: #333;
    width: 100%;
    background-color: #ffd200;

    margin: 10px 11px 0  11px;
}


/* .sc-total */
.sc-total{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    .total-wrap{
        position: relative;
        border-bottom: 1px solid rgb(243, 243, 243);
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 13px 15px;
        color: rgb(156, 156, 156);
        font-size: 13px;
        color: #999;
        display: flex;
        .total-order{
            &.active{
                .total-pop{
                    display: block;
                }
                &::after{
                    transform: rotate(180deg);
                }
            }
            &::after{
                content: "";
                width: 7px;
                height: 11px;
                display: inline-block;
                background: url(../images/icon/mo-ic-workhome-sorting.svg)no-repeat;
                background-size: 100%;
                margin: 0px 0px 0px 4px;
            }
        }
        .total-pop{
            position: absolute;
            right: 0;
            top: 45px;
            right: 20px;
            z-index: 9;
            font-size: 12px;
            border: 1px solid rgb(195, 195, 195);
            font-weight: bold;
        
            display: none;
            &.active{
                display: block;
            }
            a{
                box-sizing: border-box;
                display: block;
                font-size: 12px;
                /* padding: 10px; */
                background: #fff;
                padding: 10px;
                width: 115px;
                &:first-child{
                    border-bottom: 1px solid rgb(230, 230, 230);
                }
            }
        }
    }
    .total-num{
        /* padding: 8px 10px 10px; */
        color: rgb(51, 51, 51);
        font-weight: 600;
        font-size: 12px;
        margin: 20px;
        text-align: center;
    }
}
