
.header{
    position: fixed;
    top: 0;left: 0;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    .logo-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 15px;
        border-bottom: 1px solid #e6e6e6;

        .cotrol-box{
            .link-back{
                display: inline-block;
                width: 20px;
                height: 20px;
                // /* margin: 16px 0 12px 0; */
            
                background: url(../images/icon/back-icon.svg)no-repeat;
                background-size: 100%;
            }
            .link-home{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 20px;
                /* margin: 16px 0px 12px 20px; */
            
                background: url(../images/icon/home-icon.svg)no-repeat;
                background-size: 100%;
            }
        } 
    }

    .link-logo{
        background: url(../images/logo/logo-kakaopage.svg) no-repeat;
        background-size: contain;
        width: 101px;
        height: 21px;
        display: inline-block;
    }
    .stage-area{
        display: flex;
        align-items: center;
        .link-stage{
            background: url(../images/icon/mo-logo-stage.svg)no-repeat;
            width: 21px;height: 25px;
            background-size: 100%;
            display: inline-block;
        }
        .link-search{
            background: url(../images/icon/search-icon.svg)no-repeat;
            width: 20px;height: 20px;
            background-size: 100%;
            display: inline-block;
            margin-left: 20px;
        }
        .link-login{
            font-size: 12px;
            font-weight: bold;
            color: #121212;
            margin-left: 14px;
        }
        &.active{
            .link-search{
                display: none;
            }
        }
    }

/* /////서브페이지///// */
    
    .search-area{
        display: none;
        background: #eee;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        &.active{
            display: block;
        }
        .control-wrap{
            background: #fff;
            padding: 16px 10px 12px 10px;
            .control-box{
                display: flex;
                align-items: center;
                .link-back{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    // /* margin: 16px 0 12px 0; */
                
                    background: url(../images/icon/back-icon.svg)no-repeat;
                    background-size: 100%;
                }
                .link-home{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-left: 20px;
                    /* margin: 16px 0px 12px 20px; */
                
                    background: url(../images/icon/home-icon.svg)no-repeat;
                    background-size: 100%;
                }
                .link-login{
                    font-size: 12px;
                    font-weight: bold;
                    color: #121212;
                    margin-left: auto;
                }
            }
        }

        .search-inner{
            padding: 10px 0;
        }
        .link-search{
            background: url(../images/icon/btn_search.png)no-repeat;
            width: 20px;height: 20px;
            background-size: 100%;
            display: inline-block;
            margin-left: 20px;
        }
        .img-box{
            // width: 438px;
            // height: 71px;
            margin-top: 11px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        .search-box{
            border-top: 1px solid rgb(238, 238, 238);
            padding: 10px 10px;
            /* border: none; */
            display: flex;
            height: 23px;
            background: rgb(255, 255, 255);
            border-bottom: 1px solid rgb(51, 51, 51);
            .search-bar{
                width: 100%;
                border: 0;
                display: flex;
                padding-bottom: 6px;
                color: #bdbdbd;
                font-weight: bold;
            }
        }
    }


    .tab-area{
        .tab-list{
            display: flex;
            justify-content: space-between;
            text-align: center;
            border-bottom: 1px solid #eee;
        }
        .tab-item{
            flex: 1;
            padding: 14px 0 11px;
            position: relative;
            // 자바
            &.active{
                .tab-item{
                border-bottom: 2px solid #ffd200;
                }
            }
        }
    }
    .link-tab{
        display: inline-block;
        /* width: 13px; */
        height: 16px;
        &.home{
            width: 13px;
            background: url(../images/icon/menu_home.svg)no-repeat;
            background-size: 100%;
        }
        &.web-toon{
            width: 47px;
            background: url(../images/icon/menu_toon.svg)no-repeat;
                background-size: 100%;
        }
        &.novel{
            width: 60px;
            background: url(../images/icon/menu_novel.svg)no-repeat;
                background-size: 100%;
        }
        &.talk{
            width: 38px;
            background: url(../images/icon/menu_talkdrip.svg)no-repeat;
                background-size: 100%;
        }
        &.book{
            width: 13px;
            background: url(../images/icon/menu_book.svg)no-repeat;
                background-size: 100%;
        }
        &.web-toon{
            &::after{
                content: '';
                box-sizing: border-box;
                position: absolute;
                border-radius: 50%;
                right: -8px;
                top: -9px;
                width: 5px;
                height: 5px;
                background-color: rgb(255, 210, 0);
            }
        }
        &.novel{
            &::after{
                content: '';
                box-sizing: border-box;
                position: absolute;
                border-radius: 50%;
                right: -8px;
                top: -9px;
                width: 5px;
                height: 5px;
                background-color: rgb(255, 210, 0);
            }
        }
        &.book{
            &::after{
                content: '';
                box-sizing: border-box;
                position: absolute;
                border-radius: 50%;
                right: -8px;
                top: -9px;
                width: 5px;
                height: 5px;
                background-color: rgb(255, 210, 0);
            }
        }
    }
}

