
.sc-visual{
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);

    /* //main-slide */
    .main-slide{
        padding-top: 4.5vw;
        .swiper-slide{
            width: 428px;
            height: 281px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
        .swiper-bar{
            // bottom: 37px;
            position: relative;
            margin: 3.45vw 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
            width: 5vw;
            height: 2px;
            // height: 1.8px;
            margin: 0;
            border-radius: 0;
            background: #9d9d9d;
        }
    }
    .new-work-list{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        padding: 15px;
        .new-work-item{
            background-color: #f3f3f3;
            flex: 1;
            height: 39px;
            line-height: 39px;
            text-align: center;
            &+.new-work-item{
                border-left: 1px solid #fff;
            }
        }
        b{
            width: 15px;
            height: 15px;
            border-radius: 15px;
            font-size: 10px;
            background-color: #ffd200;
            /* margin-left: 4px; */
            padding: 0 5px;
            text-align: center;

        }
    }
}


// .sc-visual .swiper-scrollbar{
//     margin: 3.45vw 0;
//     position: relative;
//     height: 1.8px;
// }


/* //sc-free-toon */
.sc-free-toon{
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    position: relative;
    
}


/* .sc-free-novel */
.sc-free-novel{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
}



/* @@@@@@@@@ */
/* .sc-free-novel .preview-item:nth-child(odd) .preview-title::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(../images/icon/icon_15.png) no-repeat;
    background-size: 100%;
    margin-right: 3px;
} */


/* .sc-public-toon */
.sc-public-toon{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
}


/* .sc-public-novel */
.sc-public-novel{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    .preview-title{
        &::before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 14px;
            background: url(../images/icon/icon_up.svg) no-repeat;
            background-size: 100%;
            margin-right: 3px;
        }
    }
}



/* event-area */
.event-area{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    img{
        width: 100%;
    }
    .mid-slide{
        padding: 18.86px 0;
    }
    .swiper-slide{
        width: 428px;
        height: 76.66px;
    }
}



/* sc-ranking */
.sc-ranking{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    .board-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        .board-title{
            font-size: 13px;
            font-weight: bold;
        }
        .view-txt{
            font-weight: 500;
            font-size: 12px;
            color: #9c9c9c;
            font-weight: 600;
            &::after{
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin: 2px 5px;
                width: 1px;
                height: 8px;
                background-color: #d9d9d9;
            }
        }
        .board-ranking{
            font-size: 15px;
            font-weight: 500;
            color: #ef5350;
        
            flex: 1;
            text-align: center;
        }
        .board-day{
            font-size: 12px;
            color: #9c9c9c;
        }
    }
    .board-item{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px 10px 0;
    }
    .board-wrap{
        display: flex;
        align-items: center;
        /* flex: 1; */
    }
    .img-box{
        width: 62px;
        height: 82px;
        .badge img{
            width: 20px;
            height: 20px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
        
            width: 20px;
            height: 20px;
            background: url(../images/icon/badge_time.png) no-repeat;
            background-size: 100%;
        }
    }
    .txt-box{
        width: 100%;
        margin: 0 5px 0 2px;
        overflow: hidden;
        .view-info{
            margin-bottom: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        
            font-size: 12px;
            color: #9c9c9c;
            font-weight: 600;
        }
    }
    .board-num{
        font-size: 17px;
        font-weight: bold;
        display: block;
        flex: 0 0 47px;
        text-align: center;
    }
}

// .sc-ranking .img{
//     width: 100%;
//     height: 100%;
// }



/* /ad-area */
.ad-area{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);

    padding: 0 23px;
    img{
        width: 100%;

    }
}


/* sc-array */
.sc-array{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 15px;

    .array-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .array-inner{
        border-radius: 28px;
        box-shadow: inset 0px 0px 0px 1px #ebebeb;
        padding: 0;
        background-color: #f7f7f7;
    }
    .btn-array{
        display: inline-block;
        padding: 6px 14px;
        font-size: 12px;
        color: #bbbbbb;
        font-weight: bold;

        /* 자바 */
        &.active{
            color: #333;
            border-radius: 28px;
            box-shadow: inset 0px 0px 0px 1px #333333;
            background: #fff;
            .dot{background-color: #333333;}

            &:nth-child(1):after{
                content: '';
                display: inline-block;
                background: url(../images/icon/ico_wait-on.svg) no-repeat center;
                background-size: 100%;
                width: 11px;
                height: 17px;
                vertical-align: middle;
                cursor: pointer;
            }
        }
        &:nth-child(1):after{
            content: '';
            display: inline-block;
            background: url(../images/icon/ico_wait-off.svg) no-repeat center;
            background-size: 100%;
            width: 11px;
            height: 17px;
            vertical-align: middle;
        }

        .dot{
            vertical-align: middle;
            display: inline-block;
            border-radius: 50%;
            background-color: #bbbbbb;
            width: 2px;
            height: 2px;
            margin-left: 3px;
            margin-right: 3px;
        }
        
        
    }

    .arrayDay-list{
        display: flex;
        justify-content: space-between;
    }
    .arrayDay-item{
        padding: 11px 0;
        color: #bbb;
        font-size: 14px;
        flex: 1;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        cursor: pointer;
        // 자바
        &.active{
            color: #333;
            border-bottom: 2px solid #ffd200;

            // .day-wrap{display: block;}
        }
    }
    .today{
        display: inline-block;
        width: 100%;
        height: 100%;
        /* padding: 11px 0; */
        box-sizing: border-box;
    }

    .day-wrap{
        display: none;
        &.active{display: block;}
    }
    .btn-dayMore{
        margin: 0 auto;
    
    }
    .dayMore-box{
        display: block;
        margin: 0 auto;
        border: 1px solid #dddddd;
        text-align: center;
        border-radius: 20px;
        width: 128px;
        height: 40px;
        line-height: 40px;
        background-color: #ffffff;
    
        font-size: 12px;
        color: #999;
        &::after{
            content: '';
            display: inline-block;
            width: 5px;height: 9px;
            margin-left: 12px;
            background: url(../images/icon/ic-more-gray.svg) no-repeat;
            background-size: 100%;
        }
    }
}




/*  sc-challenge */
.sc-challenge{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
}



/* sc-millionnovel */
.sc-millionnovel{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    .img-box{
        width: 110px;
        height: 75px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 20px;
            height: 20px;
            background: url(../images/icon/badge_time.png) no-repeat;
            background-size: 100%;
        }
    }
    .txt-box .view-info{
        margin-bottom: 0;
    }
    
}


/* sc-bestseller */
.sc-bestseller{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
}


/* ad-box */
.ad-box{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100%;
    height: 100%;
    /* padding: 0 23px; */
    & > a{display: block; padding: 0 10px;background-color: #565245;}
    img{width: 100%;height: 100%;}
}



/* sc-event */
.sc-event{
    position: relative;
    margin-top: 11px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);

    .swiper{
        padding: 0 15px;
        margin: 14px 0 20px;
    }
    .swiper-slide{
        width: 394px;
    }
    .img-box{border-radius: 6px; overflow: hidden;
        img{width: 100%;}
    }
}


